.container {
  background-color: black;
  width: 1000px;
  margin: 20px auto;
  padding: 15px 50px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  border-radius: 16px;
}

.card-title {
  background-color: aquamarine;
}
.glassModel {
  position: relative;
}

.glassModel img {
  position: absolute;
  opacity: 0.5;
  width: 150px;
  right: 24%;
  top: 90px;
  /* transform: translateY(50%); */
}

/* style={{ width: "150px", opacity: "0.8", top: "170px" }} */
